:root {
    --color-primary: #EAD76E;
    --color-secondary: #AC4C53;
    --color-tertiary: #282846;
    --color-extra: #d8ebe4;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
}

.container {
    background: linear-gradient(to right bottom, #054971, #25bb84);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper {
    background-color: #f1f1f1;
    min-width: 450px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 6px 40px #000;
    margin-bottom: 10px;
}

.header h1 {
    color: #000;
    text-align: center;
    margin: 30px 0;
    font-weight: 600;
}

.task-form {
    display: flex;
    align-items: center;
    position: relative;
}

.task-input {
    outline: none;
    width: 260px;
    padding: 15px;
    margin: 25px 0;
    font-size: 20px;
    color: #000;
    background-color: #ababab;
    border: none;
    border-radius: 50px 0 0 50px;
    flex: 1;
    margin-right: -30px;
}

.task-input::placeholder {
    color: #000;
}

.round-shape {
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
}

.button-add {
    align-items: center;
    background-color: #39f1d7;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #ccc;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 60px;
    justify-content: center;
    padding: 15px;
    width: 60px;
    z-index: 2;
}

.button-add:hover {
    transform-origin:  center;
    transform: scale(1.1);
}

.list-item {
    display: flex;
    margin: 20px 0;
    border-radius: 50px;
    background-color: #fff;
    padding: 10px;
    max-height: 30px;
    box-shadow: 0px 3px 14px #ccc;
}

.button-complete,
.button-delete,
.button-edit {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;
}

.button-complete {
    color: lightseagreen;
}

.button-edit {
    color: #e2d029;
    margin: 0 10px;
}

.button-delete {
    color: #ff6c6c;
}

.icon:hover {
    transform-origin: center;
    transform: scale(1.04);
}

.completed {
    text-decoration-style: solid;
    text-decoration-line: line-through;
    text-decoration-color: #ff6c6c;
    opacity: 0.3;
}

.list {
    width: 220px;
    border: none;
    color: #000;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 15px;
}

input:focus,
button:focus {
    outline: none;
}
